<!DOCTYPE html>
<!--/**-->
<!--* HTML {@code sighup} is the view user will load after they want to leave the web.-->
<!--* @author Xuanyi Zhou-->
<!--*/-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="images/icons/icon-128px.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-72px.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body style="background: linear-gradient(to bottom right, #68cab7, #3476cd);background-repeat: no-repeat  ;
  background-attachment:fixed;
  background-size: 100%;">

<h1>Thank you for your experience sharing！</h1>
</body>
</html>
