<!DOCTYPE html>
<!--/**-->
<!--* HTML {@code event} is the web to see all of events and search events though key words.-->
<!--* @author Xuanyi Zhou-->
<!--* This page can connect to createevent, storylist and logout page.-->
<!--*/-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Event</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="images/icons/icon-128px.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-72px.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        function changetip(value){
            console.log(value)
            if (value == 1){
                document.getElementById("searchbox2").type = "date";
                document.getElementById("selectbutton").innerHTML = "Date";
                document.getElementById("selectbutton").value = "eventdate";

            }else if (value == 2){
                document.getElementById("searchbox2").type = "text";
                document.getElementById("selectbutton").value = "eventlocation";
                document.getElementById("selectbutton").innerHTML = "Location";
            }else {
                document.getElementById("searchbox2").type = "text";
                document.getElementById("selectbutton").value = "eventname";
                document.getElementById("selectbutton").innerHTML = "Event";
            }
        }
    </script>
</head>
<body onload="initDB();loadAllEvent()">
<!--navbar-->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            Welcome to Music Festival
        </div>
        <ul class="nav navbar-nav">
            <li><a href="Event">Event</a> </li>
            <li><a href="Story">Story</a> </li>
            <li><a href="">Your Profile</a> </li>
            <li><a href="/signup" id="signup">Log out</a></li>
        </ul>

    </div>
</div>
<!--navbar end-->
<!--Carousel-->
<div id="myCarousel" class="carousel slide" style="margin-top: 0;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-broad" src="/images/broad/broad2.jpeg" alt="First slide">
        </div>
        <div class="item">
            <img class="img-broad" src="/images/broad/broad3.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img class="img-broad" src="/images/broad/broad5.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div>

<!--Search Bar-->
<div id="searchEvent" class="main-screen">

    <div class="row" >
        <div class="col-lg-6" >
            <div class="input-group input-group-lg">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" id="selectbutton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"
                            onchange="changetip(this.value)">
                        Category <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a onclick="changetip(0)">Event</a></li>
                        <li><a onclick="changetip(1)">Date</a></li>
                        <li><a onclick="changetip(2)">Location</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" id="searchbox2" class="form-control" aria-label="...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="searchEvents()">Search!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>


</div>

    <!--content-->
    <div id="container" class="main-page" style="margin-bottom: 2%"></div>
<!--Navbar Bottom-->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: #985f0d;opacity: 0.8;">
    <div class="container-fluid">
        <div class="footer">
            <li><a href="createevent" style="color: #fff">Create Event</a></li>

        </div>
    </div>
</nav>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/database.js"></script>
<script src="/javascripts/idb.js"></script>
</body>
</html>
